<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		{{if .}}
		<main>
			<p>Variable Names:</p>
			<p>Values</p>
			{{range $index, $value := .}}
			<p>{{$index}}</p>
			<ul>
				{{range $value}}
				<li>{{.}}</li>
				{{end}}
			</ul>
			{{end}}
		</main>
		{{end}}
        <form action="/kay-go-form?fname=KayAraba" method="POST">
			<input type="text" name="fname" />
			<input type="submit" name="submit button" value="Submit Form" />
		</form>
	</body>
</html>
