<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>{{.multiplyAge}}</h1>
        <h1>{{.multiplyAge | .doubleAge}}</h1>
        <h1>{{.ageNumber | .doubleAge}}</h1>
        
	</body>
</html>
