<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<form action="" method="POST">
			<input type="text" name="first_name" /> <br />
			<input type="text" name="last_name" /> <br />
			<input type="checkbox" name="subscribed" />
			<input type="submit" name="" id="" />
		</form>

		<div>
			<h1>First Name : {{.FirstName}}</h1>
			<h1>Last Name : {{.LastName}}</h1>
			<h1>Subscribed : {{.Subscribed}}</h1>
		</div>
	</body>
</html>
