<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Software Developer 2 @ Renmiss Tech  Testing out function passing into templates in go</h1>
    {{range .}}
        <p>{{uc .Name}}</p>
    {{end}}

    
</body>
</html>