<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		{{if gt .Score1 .Score2}}
            Kay Araba is here
        {{end}}

        
        {{if lt .Score1 .Score2}}
            Kay Araba is here
        {{end}}
	</body>
</html>
